#comofunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 8%
}

#comofunciona .section-title {
    color: var(--color-primary-3);
    font-size: 2.000rem;
}

#comofunciona .section-subtitle {
    text-align: center;
    font-size: 1.300rem;
    margin-top: 15px;
}

#comofunciona .comofuncionavejaabaixo {
    font-size: 1.200rem ;
    margin-top: 32px
}


.image-como-funciona {
    text-align: center;
}


@media screen and (max-width: 1170px) {
    #comofunciona{
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-como-funciona {
        width: calc(100% - 12px);
    }

@media screen and (max-width: 600px) {
    .image-como-funciona {
        width: 100%;
    }
}


}