#home {
    display: flex;
    align-items: center; /* nao tinha esta opção */
    justify-content: space-between; /* nao tinha esta opção */
    min-height: 80vh; /* estava calc(100vh - 140px) */
    padding:  0 8%; /* nao tinha esta opção */
    margin-bottom: 0; /* NOVO */
    position: relative;
    }

/* formatação slogan e pequena descrição */
#cta {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 0%; /* antes estaba 5% */
    padding-left: 3%; /* nao tinha esta opção */
}

/* formatação titulo slogn ' a ponte entre quem pode e...*/
#cta .title {
    font-size: 2.000rem;
    color: var(--color-neutral-9);
}

/* formatação slogn somente a parte 'quem precisa'...*/
#cta .title span {
    color: var(--color-primary-3);
}

/* formatação da descrição, abaixo da logo*/
#cta .description {
    font-size: 1.300rem;
}

/* posicionar a imagem para colocar a forma atras*/
#banner {
    display: flex;
    align-items: flex-end; /* na configuração anterior estava center, depois start*/
    justify-content: flex-end; /* na configuração anterior estava end*/
    width: 70%;
    padding-right: 2rem;
    z-index: 2; /* nao tinha esta opção */
}

/* ajustar a imagem*/
#banner img {
    height: 50%;  /* na configuração anterior estava 90*/
    width: auto; /* na configuração anterior estava fit-content*/
}

/* configurar forma atras da imagem 'de capa'*/
.shape {
    background-color: var(--color-primary-2);
    width: 38%; /* na configuração anterior estava 50%, depois 35%*/
    height: 70%; /* na configuração anterior estava 88%*/
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 20;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        flex-direction: column;/* nao tinha esta opção */
        align-items: center; /* nao tinha esta opção */
        justify-content: center; /* nao tinha esta opção */
        min-height: auto; /* na configuração anterior estava 100%*, depois depois 75% depois 75vh */
        padding-top: 2rem 4%; /* na configuração anterior 0 */
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        padding: 0; /* nao tinha esta opção */
        text-align: center;
        align-items: center;

    }
}